<%- contentFor('HeaderCss') %> 
<%- contentFor('title') %> Dropdowns 
<%- contentFor('breadcrumb') %>
<div class="page-title-box">
  <h4 class="font-size-18">Dropdowns</h4>
  <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
      <li class="breadcrumb-item"><a href="javascript: void(0);">UI Elements</a></li>
      <li class="breadcrumb-item active">Dropdowns</li>
  </ol>
</div>

<%- contentFor('body') %>
<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Single button dropdowns</h4>
              <p class="card-title-desc">Any single <code
                      class="highlighter-rouge">.btn</code> can be turned into a dropdown
                  toggle with some markup changes. Here’s how you can put them to work
                  with either <code class="highlighter-rouge">&lt;button&gt;</code>
                  elements:</p>

              <div class="row">
                  <div class="col-sm-6">
                      <div class="dropdown mr-1 mt-2">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown button <i class="mdi mdi-chevron-down"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-6">
                      <div class="dropdown mr-1 mt-2">
                          <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown link <i class="mdi mdi-chevron-down"></i>
                          </a>

                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Variant</h4>
              <p class="card-title-desc">The best part is you can do this with any button variant, too:</p>

              <div class="">
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secondary</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Success</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Warning</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danger</button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
              </div>

          </div>
      </div>

  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Split button dropdowns</h4>
              <p class="card-title-desc">The best part is you can do this with any button variant, too:</p>

              <div class="">
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-primary">Primary</button>
                      <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-secondary">Secondary</button>
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-success">Success</button>
                      <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-info">Info</button>
                      <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-warning">Warning</button>
                      <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
                  <div class="btn-group mr-1 mt-2">
                      <button type="button" class="btn btn-danger">Danger</button>
                      <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div><!-- /btn-group -->
              </div>

          </div>
      </div>
  </div>

  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Sizing</h4>
              <p class="card-title-desc">Button dropdowns work with buttons of
                  all sizes, including default and split dropdown buttons.</p>

              <div class="">
                  <!-- Large button groups (default and split) -->
                  <div class="btn-group mr-1 mt-2">
                      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Large button <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>
                  <div class="btn-group mr-1 mt-2">
                      <button class="btn btn-secondary btn-lg" type="button">
                          Large button 
                      </button>
                      <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>

                  <!-- Small button groups (default and split) -->
                  <div class="btn-group mr-1 mt-2">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Small button <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>
                  <div class="btn-group mr-1 mt-2">
                      <button class="btn btn-secondary btn-sm" type="button">
                          Small button 
                      </button>
                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-chevron-down"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Dropup variation</h4>
              <p class="card-title-desc">Trigger dropdown menus above elements
                  by adding <code class="highlighter-rouge">.dropup</code> to the parent
                  element.</p>

              <div class="">
                  <!-- Default dropup button -->
                  <div class="btn-group dropup mr-1 mt-2">
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropup <i class="mdi mdi-chevron-up"></i></button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>

                  <!-- Split dropup button -->
                  <div class="btn-group dropup mr-1 mt-2">
                      <button type="button" class="btn btn-secondary">
                          Split dropup 
                      </button>
                      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-chevron-up"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Separated link</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Menu alignment</h4>
              <p class="card-title-desc">Add <code class="highlighter-rouge">.dropdown-menu-right</code>
                  to a <code class="highlighter-rouge">.dropdown-menu</code> to right
                  align the dropdown menu.</p>

              <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Menu is right-aligned <i class="mdi mdi-chevron-down"></i>
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>

          </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->


<div class="row">
  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Dropright variation</h4>
              <p class="card-title-desc">Trigger dropdown menus at the right of the elements by adding <code>.dropright</code> to the parent element.
              </p>

              <div class="">
                  <!-- Default dropright button -->
                  <div class="btn-group mb-2 dropright">
                      <button type="button" class="btn btn-info waves-effect waves-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropright <i class="mdi mdi-chevron-right"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div>

                  <!-- Split dropright button -->
                  <div class="btn-group mb-2 dropright">
                      <button type="button" class="btn btn-info waves-effect waves-light">
                          Split dropright
                      </button>
                      <button type="button" class="btn btn-info waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-chevron-right"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div>

              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-6">
      <div class="card">
          <div class="card-body">

              <h4 class="card-title">Dropleft variation</h4>
              <p class="card-title-desc">Trigger dropdown menus at the right of the elements by adding <code>.dropleft</code> to the parent element.
              </p>

              <!-- Default dropright button -->
              <div class="btn-group mb-2 dropleft">
                  <button type="button" class="btn btn-info waves-effect waves-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropleft <i class="mdi mdi-chevron-left"></i>
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>

              <!-- Split dropright button -->
              <div class="btn-group mb-2">
                  <div class="btn-group dropleft">
                      <button type="button" class="btn btn-info waves-effect waves-light dropdown-toggle-split dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="mdi mdi-chevron-left"></i>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                  </div>

                  <button type="button" class="btn btn-info waves-effect waves-light">
                      Split Dropleft
                  </button>
              </div>
          </div>
      </div>
  </div> <!-- end col -->
</div> <!-- end row -->

<%- contentFor('FooterJs') %> 
<%- contentFor('BottomJs') %>
