<%- contentFor('HeaderCss') %>
<!-- Summernote css -->
<link href="public/assets/libs/summernote/summernote-bs4.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('title') %> Form Editors
<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Form Editors</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
		<li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
		<li class="breadcrumb-item active">Form Editors</li>
	</ol>
</div>

<%- contentFor('body') %>
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Tinymce wysihtml5</h4>
				<p class="card-title-desc">Bootstrap-wysihtml5 is a javascript
					plugin that makes it easy to create simple, beautiful wysiwyg editors
					with the help of wysihtml5 and Twitter Bootstrap.</p>

				<form method="post">
					<textarea id="elm1" name="area"></textarea>
				</form>

			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Summernote</h4>
				<p class="card-title-desc">Super simple wysiwyg editor on bootstrap</p>

				<div class="summernote">Hello Summernote</div>

			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<%- contentFor('FooterJs') %>
<!--tinymce js-->
<script src="public/assets/libs/tinymce/tinymce.min.js"></script>

<!-- Summernote js -->
<script src="public/assets/libs/summernote/summernote-bs4.min.js"></script>

<!-- init js -->
<script src="public/assets/js/pages/form-editor.init.js"></script>
<%- contentFor('BottomJs') %>