<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">

      <!--- Sidemenu -->
      <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
              <li class="menu-title">Main</li>

              <li>
                  <a href="/" class="waves-effect">
                      <i class="ti-home"></i><span class="badge badge-pill badge-primary float-right">2</span>
                      <span>Dashboard</span>
                  </a>
              </li>

              <li>
                  <a href="calendar" class=" waves-effect">
                      <i class="ti-calendar"></i>
                      <span>Calendar</span>
                  </a>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-email"></i>
                      <span>Email</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="email-inbox">Inbox</a></li>
                      <li><a href="email-read">Email Read</a></li>
                      <li><a href="email-compose">Email Compose</a></li>
                  </ul>
              </li>

              <li class="menu-title">Components</li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-package"></i>
                      <span>UI Elements</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="ui-alerts">Alerts</a></li>
                      <li><a href="ui-buttons">Buttons</a></li>
                      <li><a href="ui-cards">Cards</a></li>
                      <li><a href="ui-carousel">Carousel</a></li>
                      <li><a href="ui-dropdowns">Dropdowns</a></li>
                      <li><a href="ui-grid">Grid</a></li>
                      <li><a href="ui-images">Images</a></li>
                      <li><a href="ui-lightbox">Lightbox</a></li>
                      <li><a href="ui-modals">Modals</a></li>
                      <li><a href="ui-rangeslider">Range Slider</a></li>
                      <li><a href="ui-session-timeout">Session Timeout</a></li>
                      <li><a href="ui-progressbars">Progress Bars</a></li>
                      <li><a href="ui-sweet-alert">Sweet-Alert</a></li>
                      <li><a href="ui-tabs-accordions">Tabs &amp; Accordions</a></li>
                      <li><a href="ui-typography">Typography</a></li>
                      <li><a href="ui-video">Video</a></li>
                      <li><a href="ui-general">General</a></li>
                      <li><a href="ui-colors">Colors</a></li>
                      <li><a href="ui-rating">Rating</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="waves-effect">
                      <i class="ti-receipt"></i>
                      <span class="badge badge-pill badge-success float-right">6</span>
                      <span>Forms</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="form-elements">Form Elements</a></li>
                      <li><a href="form-validation">Form Validation</a></li>
                      <li><a href="form-advanced">Form Advanced</a></li>
                      <li><a href="form-editors">Form Editors</a></li>
                      <li><a href="form-uploads">Form File Upload</a></li>
                      <li><a href="form-xeditable">Form Xeditable</a></li>
                      <li><a href="form-repeater">Form Repeater</a></li>
                      <li><a href="form-wizard">Form Wizard</a></li>
                      <li><a href="form-mask">Form Mask</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-pie-chart"></i>
                      <span>Charts</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="charts-morris">Morris Chart</a></li>
                      <li><a href="charts-chartist">Chartist Chart</a></li>
                      <li><a href="charts-chartjs">Chartjs Chart</a></li>
                      <li><a href="charts-flot">Flot Chart</a></li>
                      <li><a href="charts-knob">Jquery Knob Chart</a></li>
                      <li><a href="charts-sparkline">Sparkline Chart</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-view-grid"></i>
                      <span>Tables</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="tables-basic">Basic Tables</a></li>
                      <li><a href="tables-datatable">Data Table</a></li>
                      <li><a href="tables-responsive">Responsive Table</a></li>
                      <li><a href="tables-editable">Editable Table</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-face-smile"></i>
                      <span>Icons</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="icons-material">Material Design</a></li>
                      <li><a href="icons-fontawesome">Font Awesome</a></li>
                      <li><a href="icons-ion">Ion Icons</a></li>
                      <li><a href="icons-themify">Themify Icons</a></li>
                      <li><a href="icons-dripicons">Dripicons</a></li>
                      <li><a href="icons-typicons">Typicons Icons</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="waves-effect">
                      <i class="ti-location-pin"></i>
                      <span class="badge badge-pill badge-danger float-right">2</span>
                      <span>Maps</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="maps-google"> Google Map</a></li>
                      <li><a href="maps-vector"> Vector Map</a></li>
                  </ul>
              </li>

              <li class="menu-title">Extras</li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-layout"></i>
                      <span> Layouts </span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="layouts-horizontal">Horizontal</a></li>
                      <li><a href="layouts-compact-sidebar">Compact Sidebar</a></li>
                      <li><a href="layouts-icon-sidebar">Icon Sidebar</a></li>
                      <li><a href="layouts-boxed">Boxed Layout</a></li>
                  </ul>
              </li>



              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-archive"></i>
                      <span> Authentication </span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="pages-login">Login 1</a></li>
                      <li><a href="pages-login-2">Login 2</a></li>
                      <li><a href="pages-register">Register 1</a></li>
                      <li><a href="pages-register-2">Register 2</a></li>
                      <li><a href="pages-recoverpw">Recover Password 1</a></li>
                      <li><a href="pages-recoverpw-2">Recover Password 2</a></li>
                      <li><a href="pages-lock-screen">Lock Screen 1</a></li>
                      <li><a href="pages-lock-screen-2">Lock Screen 2</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-support"></i>
                      <span>  Extra Pages  </span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="pages-timeline">Timeline</a></li>
                      <li><a href="pages-invoice">Invoice</a></li>
                      <li><a href="pages-directory">Directory</a></li>
                      <li><a href="pages-blank">Blank Page</a></li>
                      <li><a href="pages-404">Error 404</a></li>
                      <li><a href="pages-500">Error 500</a></li>
                      <li><a href="pages-pricing">Pricing</a></li>
                      <li><a href="pages-gallery">Gallery</a></li>
                      <li><a href="pages-maintenance">Maintenance</a></li>
                      <li><a href="pages-comingsoon">Coming Soon</a></li>
                      <li><a href="pages-faq">FAQs</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-bookmark-alt"></i>
                      <span>  Email Templates  </span>
                  </a>
                  <ul class="sub-menu" aria-expanded="false">
                      <li><a href="email-template-basic">Basic Action Email</a></li>
                      <li><a href="email-template-Alert">Alert Email</a></li>
                      <li><a href="email-template-Billing">Billing Email</a></li>
                  </ul>
              </li>

              <li>
                  <a href="javascript: void(0);" class="has-arrow waves-effect">
                      <i class="ti-more"></i>
                      <span>Multi Level</span>
                  </a>
                  <ul class="sub-menu" aria-expanded="true">
                      <li><a href="javascript: void(0);">Level 1.1</a></li>
                      <li><a href="javascript: void(0);" class="has-arrow">Level 1.2</a>
                          <ul class="sub-menu" aria-expanded="true">
                              <li><a href="javascript: void(0);">Level 2.1</a></li>
                              <li><a href="javascript: void(0);">Level 2.2</a></li>
                          </ul>
                      </li>
                  </ul>
              </li>

          </ul>
      </div>
      <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->