<div class="topnav">
	<div class="container-fluid">
		<nav class="navbar navbar-light navbar-expand-lg topnav-menu">

			<div class="collapse navbar-collapse" id="topnav-menu-content">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">
							<i class="ti-home mr-2"></i>Dashboard
						</a>
					</li>

					<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-uielement" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-package mr-2"></i>UI Elements
						</a>

						<div class="dropdown-menu mega-dropdown-menu px-2 dropdown-menu-left dropdown-mega-menu-xl"
							aria-labelledby="topnav-uielement">
							<div class="row">
								<div class="col-lg-4">
									<div>
										<a href="ui-alerts" class="dropdown-item">Alerts</a>
										<a href="ui-buttons" class="dropdown-item">Buttons</a>
										<a href="ui-cards" class="dropdown-item">Cards</a>
										<a href="ui-carousel" class="dropdown-item">Carousel</a>
										<a href="ui-dropdowns" class="dropdown-item">Dropdowns</a>
										<a href="ui-grid" class="dropdown-item">Grid</a>
										<a href="ui-images" class="dropdown-item">Images</a>
									</div>
								</div>
								<div class="col-lg-4">
									<div>
										<a href="ui-lightbox" class="dropdown-item">Lightbox</a>
										<a href="ui-modals" class="dropdown-item">Modals</a>
										<a href="ui-rangeslider" class="dropdown-item">Range Slider</a>
										<a href="ui-session-timeout" class="dropdown-item">Session Timeout</a>
										<a href="ui-progressbars" class="dropdown-item">Progress Bars</a>
										<a href="ui-sweet-alert" class="dropdown-item">Sweet-Alert</a>
										<a href="ui-tabs-accordions" class="dropdown-item">Tabs & Accordions</a>
									</div>
								</div>
								<div class="col-lg-4">
									<div>
										<a href="ui-typography" class="dropdown-item">Typography</a>
										<a href="ui-video" class="dropdown-item">Video</a>
										<a href="ui-general" class="dropdown-item">General</a>
										<a href="ui-colors" class="dropdown-item">Colors</a>
										<a href="ui-rating" class="dropdown-item">Rating</a>
									</div>
								</div>
							</div>

						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-harddrives mr-2"></i>Components
						</a>
						<div class="dropdown-menu" aria-labelledby="topnav-components">

							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
									role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Email <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-email">
									<a href="email-inbox" class="dropdown-item">Inbox</a>
									<a href="email-read" class="dropdown-item">Email Read</a>
									<a href="email-compose" class="dropdown-item">Email Compose</a>
								</div>
							</div>

							<a href="calendar" class="dropdown-item">Calendar</a>

							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-form"
									role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Forms <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-form">
									<a href="form-elements" class="dropdown-item">Form Elements</a>
									<a href="form-validation" class="dropdown-item">Form Validation</a>
									<a href="form-advanced" class="dropdown-item">Form Advanced</a>
									<a href="form-editors" class="dropdown-item">Form Editors</a>
									<a href="form-uploads" class="dropdown-item">Form File Upload</a>
									<a href="form-xeditable" class="dropdown-item">Form Xeditable</a>
									<a href="form-repeater" class="dropdown-item">Form Repeater</a>
									<a href="form-wizard" class="dropdown-item">Form Wizard</a>
									<a href="form-mask" class="dropdown-item">Form Mask</a>
								</div>
							</div>

							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-chart"
									role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Charts <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-chart">
									<a href="charts-morris" class="dropdown-item">Morris Chart</a>
									<a href="charts-chartist" class="dropdown-item">Chartist Chart</a>
									<a href="charts-chartjs" class="dropdown-item">Chartjs Chart</a>
									<a href="charts-flot" class="dropdown-item">Flot Chart</a>
									<a href="charts-knob" class="dropdown-item">Jquery Knob Chart</a>
									<a href="charts-sparkline" class="dropdown-item">Sparkline Chart</a>
								</div>
							</div>

							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-table"
									role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Tables <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-table">
									<a href="tables-basic" class="dropdown-item">Basic Tables</a>
									<a href="tables-datatable" class="dropdown-item">Data Table</a>
									<a href="tables-responsive" class="dropdown-item">Responsive Table</a>
									<a href="tables-editable" class="dropdown-item">Editable Table</a>
								</div>
							</div>

							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
									role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Icons <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-icons">
									<a href="icons-material" class="dropdown-item">Material Design</a>
									<a href="icons-fontawesome" class="dropdown-item">Font Awesome</a>
									<a href="icons-ion" class="dropdown-item">Ion Icons</a>
									<a href="icons-themify" class="dropdown-item">Themify Icons</a>
									<a href="icons-dripicons" class="dropdown-item">Dripicons</a>
									<a href="icons-typicons" class="dropdown-item">Typicons Icons</a>
								</div>
							</div>

							<div class="dropdown">
								<a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
									role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Maps <div class="arrow-down"></div>
								</a>
								<div class="dropdown-menu" aria-labelledby="topnav-map">
									<a href="maps-google" class="dropdown-item"> Google Map</a>
									<a href="maps-vector" class="dropdown-item"> Vector Map</a>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-auth" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-archive mr-2"></i> Authentication
						</a>

						<div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-lg"
							aria-labelledby="topnav-auth">
							<div class="row">
								<div class="col-lg-6">
									<div>
										<a href="pages-login" class="dropdown-item">Login 1</a>
										<a href="pages-register" class="dropdown-item">Register 1</a>
										<a href="pages-recoverpw" class="dropdown-item">Recover Password 1</a>
										<a href="pages-lock-screen" class="dropdown-item">Lock Screen 1</a>
									</div>
								</div>
								<div class="col-lg-6">
									<div>
										<a href="pages-login-2" class="dropdown-item">Login 2</a>
										<a href="pages-register-2" class="dropdown-item">Register 2</a>
										<a href="pages-recoverpw-2" class="dropdown-item">Recover Password 2</a>
										<a href="pages-lock-screen-2" class="dropdown-item">Lock Screen 2</a>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item dropdown mega-dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-extrapages" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-support mr-2"></i> Extra Pages
						</a>

						<div class="dropdown-menu mega-dropdown-menu px-2 dropdown-mega-menu-lg"
							aria-labelledby="topnav-extrapages">
							<div class="row">
								<div class="col-lg-6">
									<div>
										<a href="pages-timeline" class="dropdown-item">Timeline</a>
										<a href="pages-invoice" class="dropdown-item">Invoice</a>
										<a href="pages-directory" class="dropdown-item">Directory</a>
										<a href="pages-blank" class="dropdown-item">Blank Page</a>
										<a href="pages-404" class="dropdown-item">Error 404</a>
										<a href="pages-500" class="dropdown-item">Error 500</a>
									</div>
								</div>
								<div class="col-lg-6">
									<div>
										<a href="pages-pricing" class="dropdown-item">Pricing</a>
										<a href="pages-gallery" class="dropdown-item">Gallery</a>
										<a href="pages-maintenance" class="dropdown-item">Maintenance</a>
										<a href="pages-comingsoon" class="dropdown-item">Coming Soon</a>
										<a href="pages-faq" class="dropdown-item">Faq</a>
									</div>
								</div>
							</div>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-emailtemplates" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-bookmark-alt mr-2"></i>Email Templates
						</a>
						<div class="dropdown-menu" aria-labelledby="topnav-emailtemplates">
							<a href="email-template-basic" class="dropdown-item">Basic Action Email</a>
							<a href="email-template-Alert" class="dropdown-item">Alert Email</a>
							<a href="email-template-Billing" class="dropdown-item">Billing Email</a>
						</div>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layout" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="ti-layout mr-2"></i> Layouts
						</a>
						<div class="dropdown-menu" aria-labelledby="topnav-layout">
							<a href="/" class="dropdown-item">Vertical</a>
							<a href="layouts-h-topbar-light" class="dropdown-item">Topbar Light</a>
							<a href="layouts-h-boxed" class="dropdown-item">Boxed Layout</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>