<%- contentFor('HeaderCss') %>
<%- contentFor('title') %> Progressbar
<%- contentFor('breadcrumb') %>
<div class="page-title-box">
	<h4 class="font-size-18">Progress Bars</h4>
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item"><a href="javascript: void(0);">Veltrix</a></li>
		<li class="breadcrumb-item"><a href="javascript: void(0);">UI Elements</a></li>
		<li class="breadcrumb-item active">Progress Bars</li>
	</ol>
</div>

<%- contentFor('body') %>
<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Default Examples</h4>
				<p class="card-title-desc">Progress components are built with two
					HTML elements, some CSS to set the width, and a few attributes.</p>

				<div class="">
					<div class="progress mb-4">
						<div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress mb-4">
						<div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress mb-4">
						<div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Backgrounds</h4>
				<p class="card-title-desc">Use background utility classes to
					change the appearance of individual progress bars.</p>

				<div class="">
					<div class="progress mb-4">
						<div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress mb-4">
						<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress mb-4">
						<div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Labels Example</h4>
				<p class="card-title-desc">Add labels to your progress bars by placing text within the <code
						class="highlighter-rouge">.progress-bar</code>.</p>

				<div class="">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100">25%</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Multiple bars</h4>
				<p class="card-title-desc">Include multiple progress bars in a progress component if you need.</p>

				<div class="">
					<div class="progress">
						<div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15"
							aria-valuemin="0" aria-valuemax="100"></div>
						<div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
							aria-valuemin="0" aria-valuemax="100"></div>
						<div class="progress-bar bg-info" role="progressbar" style="width: 20%" aria-valuenow="20"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Height</h4>
				<p class="card-title-desc">We only set a <code class="highlighter-rouge">height</code> value on the
					<code class="highlighter-rouge">.progress-bar</code>, so if you change
					that value the outer <code class="highlighter-rouge">.progress</code>
					will automatically resize accordingly.</p>

				<div class="">
					<div class="progress mb-2" style="height: 3px;">
						<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress" style="height: 24px;">
						<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end col -->

	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Animated stripes</h4>
				<p class="card-title-desc">The striped gradient can also be
					animated. Add <code class="highlighter-rouge">.progress-bar-animated</code> to <code
						class="highlighter-rouge">.progress-bar</code> to animate the
					stripes right to left via CSS3 animations.</p>

				<div class="">
					<div class="progress">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
							aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
	<div class="col-lg-6">
		<div class="card">
			<div class="card-body">

				<h4 class="card-title">Striped</h4>
				<p class="card-title-desc">Add <code class="highlighter-rouge">.progress-bar-striped</code>
					to any <code class="highlighter-rouge">.progress-bar</code> to apply a
					stripe via CSS gradient over the progress bar’s background color.</p>

				<div class="">
					<div class="progress mb-3">
						<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%"
							aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress mb-3">
						<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%"
							aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress mb-3">
						<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%"
							aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress mb-3">
						<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%"
							aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%"
							aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--end row-->

<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>